.calculator{
	width: rem(320px);
	height: rem(568px);
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 15px 81px 0px rgba(#000, 0.16);
	display: flex;
	flex-direction: column;
}

.calculator__display-item{
	border-bottom: 1px solid $divide-color;
}

.calculator__display-item{
	text-align: right;
	padding: rem(24px)
}

.calculator__button{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator__numbers{
	width: 71%;
}

.calculator__operators{
	width: 22%;
}

.calculator__button-item{
	outline: 0;
	border: 0;
	background:none;
	width: rem(56px);
	height: rem(56px);
	margin: rem(8px);
	border-radius: 5px;
	background: $bg;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
	transition: .3s;
	&:hover{
		background: darken($bg, 4%)
	}
	&:active{
		box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.16);
		// background: darken($bg, 8%)
	}
}

.calculator__button-item-delete{
		width: 8.3rem;
}

.calculator__button-item-zero{
	width: 13.1rem;
}


